{-# LANGUAGE OverloadedStrings #-}

module TTN.Hidden where

import Data.ByteString             ( ByteString )
import Data.Text                   ( Text )
import Database.Persist.Postgresql ( ConnectionString )

ttnConnString :: ConnectionString
ttnConnString = "host=localhost dbname=dbuser user=user password=pass"

salt :: Text
salt = "mysalt"

azureKey :: ByteString
azureKey = "azurekey"

